*{
    color: #0b678a;
}
body{
    background-color: #0b678a;
}

/* Set the size of the div element that contains the map */
#map {
    height: 400px; /* The height is 400 pixels */
    width: 100%; /* The width is the width of the web page */
    margin-bottom: 20px; /* Adds 20 pixels of margin at the bottom */
}

.dias {
    height: 500px;
}
.submit-button {
    margin-bottom: 20px; /* Adjust the margin as needed */
}